/*-- for mobile ---*/
@media only screen and (min-width: 320px) and (max-width: 767px) {

	.mobile-hide {
		display: none !important;
	}

	ul.navbar-nav {
		display: none;
		position: absolute;
		top: 56px;
		right: 0;
		padding: 10px;
		text-align: left;
		background-color: #222;
	}
	ul.navbar-nav.mobile-nav {
		display: block;
	}
	ul.navbar-nav .nav-item{
		text-align: left;
	}
	.mobile-menu {
		display: block;
	}
	.mobile-menu .open-menu {
		display: block;
	}
	.mobile-menu .close-menu {
		display: none;
	}

	.mobile-menu.clicked .open-menu {
		display: none;
	}
	.mobile-menu.clicked .close-menu {
		display: block;
	}
	.qty-wrap {
		width: 100px;
		vertical-align: middle;
	}
	.qty-wrap .cart-item {
		margin: 0;
		vertical-align: middle;
	}
    .qty-control {
        width: 40px;
    }
	.cart-table-wrap .total-col {
		text-align: right;
		padding-right: 20px;
		min-width: 80px;
	}
	.order-form-inner {
		width: 80%;
	}
    #products .products-line-item.col-md-3.col-12 {
        -ms-flex: 0 0 280px;
        flex: 0 0 280px;
        max-width: 280px;
        margin-right: 15px;
    }
    .products-line-item.col-md-3.col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .category-checkbox {
        display: inline-block;
        width: 49%;
    }

    .list-title-wrap {
        background-image: url(https://source.unsplash.com/Ww8eQWjMJWk/600x600);
        height: 80vh;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .product-wrap-outer {
        padding: 0 20px;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #92b955;
        transition: all 1s;
    }
    .navbar-light.scroll .navbar-nav .nav-link {
        color: #92b955;
    }
    .list-title-content {
        position: absolute;
        top: 70%;
        right: 10%;
        padding: 0 30px;
        transform: translateY(-50%);
    }
    .unit-cart {
        clear: both;
        display: block;
        margin-left: 0;
        margin-top: 10px;
        padding-top: 5px;
    }
    .qty-action {
        float: none;
    }
    .title-wrap {
        background-image: url(https://source.unsplash.com/ZKNsVqbRSPE/800x400);
    }
    .product-detail {
        width: 90%;
        height: 90%;
        overflow-y: auto;
    }
    .product-title {
        margin-top: 20px;
        font-size: 1.75rem;
    }
    .feature-inner {
        width: 100%;
        overflow-x: auto;
    }
    .contact-address {
        padding-left: 15px;
    }
    .checkout-btn {
        width: 100%;
        text-align: right;
    }
}

/*-- for mobile landscape ---*/
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) and (orientation:portrait) {

}

/*-- for tablet portrait--*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

/*-- for tablet landscape--*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}





